<div class="lib-component position-relative">
    {{> @partial-block }}
    <div class="lib-open-modal-btn"
         data-toggle="modal"
         data-target="#{{ id }}">
        { }
    </div>
</div>
<div id="{{ id }}" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Source Code</h4>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <pre>
                    <code class="language-markup">
                        {{> @partial-block }}
                    </code>
                </pre>
            </div>
        </div>
    </div>
</div>