<div class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a href="../../" class="navbar-brand">TZM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto text-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Download<span
                            class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="themes">
                        <a class="dropdown-item" href="css/tzm-theme.min.css">_tzm-theme.min.scss</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="css/tzm-theme.css">_tzm-theme.scss</a>g
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>