<section class="container">
    <div class="bs-docs-section">
        <div class="page-header">
            <h1>{{ title }}</h1>
        </div>
        <div class="row">
            {{> @partial-block }}
        </div>
    </div>
</section>
