body {
  padding-top: 120px;
  -webkit-font-smoothing: antialiased;
}

.page-header {
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.bs-docs-section {
  margin-bottom: 5rem;
}

.lib-component {
  margin-bottom: 1rem;

  &:hover {
    .lib-open-modal-btn {
      visibility: visible;
    }
  }
}

.lib-open-modal-btn {
  visibility: hidden;
  width: 40px;
  height: 30px;
  background-color: #5d5c5c;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 19px;
  font-weight: bold;
  line-height: 27px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color .5s ease-out;

  &:hover {
    background-color: #1d1d1d;
  }
}